<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Secured page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body class="container" style="background-color: rgba(249,251,250, 0.2);">
        <p class="row"></p>
        
        <div class="row">
            <div class="well" style="text-align: center;">
                <h1>Please log in</h1>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                
                <p style="color: red;" th:text="${fake}"></p>
                                
                <form th:action="@{/j_spring_security_check}" method="POST" style="margin: 0 auto;">
                    <div class="form-group">
                        <input class="form-control" type="text" name="user" placeholder="Username" required=""/><br/>
                        <input class="form-control" type="password" name="pswd" placeholder="Password" required=""/><br/>
                        <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
                        <input class="btn btn-success" type="submit" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>